* {
  margin: 0;
  box-sizing: border-box;
}

.d-grid {
  height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-template-areas: "box-1 box-2 box-3 box-4";
}

.d-grid div {
  border: 1px solid black;
  height: 300px;
}
